@import "~bulma";
@import "./progressive_loading.scss";

body {
  * {
    box-sizing: border-box;
  }
}

#app {
  .container {
    display: flex;
    flex-direction: column;
  }
  .card {
    margin: 32px;
    max-width: max-content;
  }
  .navbar-item {
    a {
      color: white;
    }
  }
}